<!--div class="container-fluid"-->
  <div class="header" (click)="closeMenus($event)">
    <img src="/assets/koridor_logo_left.png" class="image_margin float-left">
    <div class="fa fa-bars fa-3x mt-3 mx-4 float-left"
      (click)="toggleHamburgerMenu($event)">
    </div>
    <div *ngIf="breadcrumb0" class="float-left d-none d-lg-block">
      <div *ngIf="breadcrumb0" class="arrow0 float-left"></div>
      <div *ngIf="breadcrumb0" [ngClass]="breadcrumb0_icon"
        class="fa-2x breadcrumb0_icon float-left"></div>
      <div *ngIf="breadcrumb0" class="breadcrumb0 float-left">
          {{ breadcrumb0 }}
      </div>
      <div *ngIf="breadcrumb0" class="arrow1 float-left"></div>
      <div *ngIf="breadcrumb1" class="breadcrumb1 float-left">
          {{ breadcrumb1 }}
      </div>
      <div *ngIf="breadcrumb1" class="arrow2 float-left"></div>
    </div>
    <!--span class="align-middle">middle</span-->
    <img src="/assets/koridor_logo_right.png" class="image_margin float-right">
    <div class="mr-5 d-none d-sm-block float-right"
      (click)="toggleUserMenu($event)">
        <div class="user_name">{{ userName }}</div>
        <div class="user_role">{{ userRole }}</div>
    </div>
    <span class="fa fa-user-circle fa-2x mt-4 mr-3 float-right"
      aria-hidden="true"
      (click)="toggleUserMenu($event)">
    </span>
  </div>
<!--/div-->
<!--  The font is Century Gothic
-->
  <app-user-menu *ngIf="showUserMenu" [parentCloseMenu]="closeMenuFn"></app-user-menu>
  <app-hamburger-menu *ngIf="showHamburgerMenu"
    [parentCloseMenu]="closeMenuFn"
    [parentClickHamburgerMenu]="clickHamburgerMenuFn">
  </app-hamburger-menu>
