<div class="background d-flex flex-column pink_tooltip">

  <div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-center align-items-center property">
      <div class="property_label">Property :
      </div>
      <div class=""
        ngbTooltip="You must save first."
        placement="bottom"
        [disableTooltip]="!is_edit_from_upgrade_any()"
      >
        <select #property_select
          (change)="onPropertyChange(property_select.selectedIndex)"
          [disabled]="is_edit_from_upgrade_any()"
          [ngClass]="{'property-select':true,
                      'color_enabled':!is_edit_from_upgrade_any(),
                      'color_disabled':is_edit_from_upgrade_any()}"
          >
         <!--option value="ALTH">ALTH</option>
         <option value="H1551">H1551</option>
         <option value="regular">regular</option-->
         <option *ngFor="let upg_data of upgrade_array"
         value={{upg_data.property}}>{{upg_data.property}}</option>
       </select>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column main_panel">
      <div class="main_panel_header">
        Upgrade Settings
      </div>
      <div class="add_new_button_row">
        <div class="add_new_button_box"
              [ngbTooltip]="add_new_button_tooltip"
              placement="right"
              [disableTooltip]="!is_edit_from_any() && hasAvailableFromRooms()"
        >
        <ng-template #add_new_button_tooltip>
          {{is_edit_from_any()?'You must save first.':'No remaining unused room types'}}
        </ng-template>
          <button (click)="addRoom()"
            [disabled]="is_edit_from_any() || !hasAvailableFromRooms()"
            [ngClass]="{'add_new_button':true,
                      'color_disabled':is_edit_from_any() || !hasAvailableFromRooms(),
                      'color_enabled':!is_edit_from_any() && hasAvailableFromRooms(),
                      'button_behavior':!is_edit_from_any() && hasAvailableFromRooms()}"
            >
            Add new upgrade
          </button>
        </div>
      </div>
      <!--div class="d-flex flex-row justify-content-start table_header">
        <div class="c0"></div>
        <div class="c1"><button class="add_button invisible">Add</button></div>
        <div class="c2">Room Type</div>
        <div class="c3">Upgrade Type</div>
        <div class="c4">Amount</div>
        <div class="c5">%</div>
        <div class="c6">Enable Room Type</div>
        <div class="c7"><button class="edit_button invisible">Edit</button></div>
        <div class="c8"><button class="delete_button invisible">Delete</button></div>
        <div class="c9">Enable Upgrade Type</div>
      </div>
      <div class="d-flex flex-row justify-content-start">
        <div class="c0">&#x25B2;</div>
        <div class="c1"><button class="add_button">Add</button></div>
        <div class="c_room_type">{{data_array[0].data[0].room_type}}</div>
        <!--div class="c3">Upgrade Type</div>
        <div class="c4">Amount</div>
        <div class="c5">%</div->
        <div class="c6"><div class="toggle_big"><app-toggle [(checked)]="data_array[0].data[0].enabled"></app-toggle></div></div>
        <div class="c7"><button class="edit_button invisible">Edit</button></div>
        <div class="c8"><button class="delete_button invisible">Delete</button></div>
        <div class="c9"></div>
      </div>
      <div class="d-flex flex-row justify-content-start">
        <div class="c0"></div>
        <div class="c1"></div>
        <div class="c2"></div>
        <div class="c3">{{data_array[0].data[0].upgrades[0].upgrade_type}}</div>
        <div class="c4">{{data_array[0].data[0].upgrades[0].amount}}</div>
        <div class="c5">{{data_array[0].data[0].upgrades[0].percent}}</div>
        <div class="c6"></div>
        <div class="c7"><button class="edit_button">Edit</button></div>
        <div class="c8"><button class="delete_button">Delete</button></div>
        <div class="c9"><div class="toggle_small"><app-toggle [(checked)]="data_array[0].data[0].upgrades[0].enabled"></app-toggle></div></div>
      </div>
      <div class="d-flex flex-row justify-content-start">
        <div style="flex-basis: 30%;">A</div>
        <div style="flex-basis: 20%">B</div>
        <div style="flex-basis: auto;padding-right: 10px;">C</div>
        <div style="flex-basis: 20%">D</div>
        <div style="flex-basis: auto">E</div>
        <div style="flex-basis: 20%">F</div>
      </div-->

      <table class="main_table">
        <colgroup>
          <col class="c0_col">
          <col class="c1_col">
          <col class="c2_col">
          <col class="c3_col">
          <col class="c4_col">
          <col class="c5_col">
          <col class="c6_col">
          <col class="c7_col">
          <col class="c8_col">
          <col class="c9_col">
          <col class="c10_col">
        </colgroup>
        <thead>
          <tr>
            <th class=""></th>
            <th class=""><button class="add_button invisible">Add</button></th>
            <th class=""></th>
            <th class=""><div class="h2_l0">Room</div><div class="h2_l1">Type</div></th>
            <th class=""><div class="h3_l0">Upgrade</div><div class="h3_l1">Type</div></th>
            <th class=""><div class="h4_l0">Amount</div></th>
            <th class=""><div class="h5_l0">%</div></th>
            <th class=""><div class="h6_l0">Enable</div><div class="h6_l1">Room&nbsp;Type</div></th>
            <th class=""></th>
            <th class="" colspan='2'><!--/th-->
            <!--th class="c9"--><div class="h9_l0">Enable</div><div class="h9_l1">Upgrade&nbsp;Type</div></th>
          </tr>
        </thead>
        <tbody *ngFor="let from of upgrade_array[property_index].from; let i=index">
          <tr>
            <td class="text-center button_behavior"
              (click)="upgrade_array[property_index].from[i].expanded=!upgrade_array[property_index].from[i].expanded;">
              {{upgrade_array[property_index].from[i].expanded?'&#x25B2;':'&#x25BC;'}}
            </td>
            <td class="text-center">
              <span class="add_button_box"
                      [ngbTooltip]="add_button_tooltip"
                      placement="top"
                      [disableTooltip]="!upgrade_array[property_index].from[i].edit_child && hasAvailableToRooms(i)"
                >
                <ng-template #add_button_tooltip>
                  {{upgrade_array[property_index].from[i].edit_child?
                    'You must save first.':'No remaining unused room types'}}
                </ng-template>
                <button (click)="addUpgrade(i)"
                  [disabled]="upgrade_array[property_index].from[i].edit_child || !hasAvailableToRooms(i)"
                  [ngClass]="{'add_button':true,
                              'color_disabled':upgrade_array[property_index].from[i].edit_child || !hasAvailableToRooms(i),
                              'color_enabled':!upgrade_array[property_index].from[i].edit_child && hasAvailableToRooms(i),
                              'button_behavior':!upgrade_array[property_index].from[i].edit_child && hasAvailableToRooms(i)}">
                  Add
                </button>
              </span>
            </td>
            <td class="text-center" (click)="deleteFromUpgrade(i)">
              <i class="far fa-trash-alt room_trash_button button_behavior" (click)="deleteFromUpgrade(i)"
                [ngClass]="{'trash_button':true,'button_behavior':true,'far':true,
                          'fa-trash-alt':!upgrade_array[property_index].from[i].new,
                          'fa-times-circle':upgrade_array[property_index].from[i].new}">
              </i>
            </td>
            <!--td *ngIf="false & !upgrade_array[property_index].from[i].edit" class="room_type_cell" colspan='4'>{{from.from_room}}</td-->
            <td class="" colspan='4'>
              <ng-select #selRoom [items]="upgrade_array[property_index].available_rooms"
                  [clearable]='false' class='custom_room' [searchable]='false' (change)="changeFromRoomSelect(i)"
                  [disabled]='!upgrade_array[property_index].from[i].new' [(ngModel)]="from.from_room">
              </ng-select>
            </td>
            <!--div class="c3">Upgrade Type</div>
            <div class="c4">Amount</div>
            <div class="c5">%</div-->
            <td class="align-middle"><div class="toggle_big"><app-toggle [(checked)]="from.enabled"></app-toggle></div></td>
            <td class=""><button class="edit_button invisible">Edit</button></td>
            <td class="text-center"><!--button class="delete_button" (click)="deleteFromUpgrade(i)">Delete</button--></td>
            <td class=""></td>
          </tr>
          <tr *ngFor="let to of (upgrade_array[property_index].from[i].expanded?from.to:[]); let j=index"
            class="upgrade_row">
            <td class=""></td>
            <td class=""></td>
            <td class=""></td>
            <td class=""></td>
            <!--td *ngIf="!is_edit_to_room_array[i][j]" class="upgrade_type_cell">{{to.to_room}}</td-->
            <td class="upgrade_type_cell_field">
              <!--app-restricted-text-input #room_name
                [regex]="'^.*$'" [init_value]="to.to_room" [disabled]="!is_edit_to_room_array[i][j]">
              </app-restricted-text-input-->
              <ng-select #sel [items]="upgrade_array[property_index].from[i].available_rooms" [clearable]='false' class='custom' [searchable]='false'
                  [(ngModel)]="upgrade_array[property_index].from[i].to[j].to_room_temp"
                  [disabled]='upgrade_array[property_index].from[i].to[j].edit||upgrade_array[property_index].from[i].to[j].new?false:true'>
              </ng-select><!-- [isOpen]="upgrade_array[property_index].from[i].to[j].edit?true:false" -->
            </td>
            <td [ngClass]="{'upgrade_number_field_bcgr_transp': !upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new,
                            'upgrade_number_field_bcgr_gray': upgrade_array[property_index].from[i].to[j].edit || upgrade_array[property_index].from[i].to[j].new,
                            'upgrade_number_field':true}">
              <app-restricted-text-input #amount
                [regex]="'^[0-9]{0,}\\.?[0-9]{0,2}$'" [init_value]="to.amount"
                [disabled]="!upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new">
              </app-restricted-text-input>
            </td>
            <td [ngClass]="{'upgrade_number_field_bcgr_transp': !upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new,
                            'upgrade_number_field_bcgr_gray': upgrade_array[property_index].from[i].to[j].edit || upgrade_array[property_index].from[i].to[j].new,
                            'upgrade_number_field':true}">
              <app-restricted-text-input #percent
                [regex]="'^(?:.{0}|0|[1-9][0-9]{0,1}|100)$'" [init_value]="to.percent"
                [disabled]="!upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new">
              </app-restricted-text-input>
            </td>

            <!--td class="amount_cell">{{to.amount}}</td>
            <td class="percent_cell">{{to.percent}}</td-->
            <td class=""></td>
            <td class="text-center">
              <span
                      [ngbTooltip]="edit_button_tooltip"
                      placement="top"
                      [disableTooltip]="!upgrade_array[property_index].from[i].edit_child || upgrade_array[property_index].from[i].to[j].edit || upgrade_array[property_index].from[i].to[j].new"
                >
                <ng-template #edit_button_tooltip>
                  {{'You must save first.'}}
                </ng-template>
                <button *ngIf="!upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new"
                  class="edit_button" (click)="editUpgrade(i,j)"
                  [disabled]="upgrade_array[property_index].from[i].edit_child"
                  [ngClass]="{'edit_button':true,
                              'color_disabled':upgrade_array[property_index].from[i].edit_child,
                              'color_enabled':!upgrade_array[property_index].from[i].edit_child,
                              'button_behavior':!upgrade_array[property_index].from[i].edit_child}">
                        Edit
                </button>
                <button *ngIf="upgrade_array[property_index].from[i].to[j].edit || upgrade_array[property_index].from[i].to[j].new"
                  class="save_button"
                  (click)="saveUpgrade(i,j, amount.value, percent.value)">Save</button>
              </span>
            </td>
            <td class="text-center">
              <!--button class="delete_button" (click)="deleteUpgrade(i,j)">Delete</button-->
              <i (click)="delete_cancel_upgrade(i,j)"
                [ngClass]="{'trash_button':true,'button_behavior':true,'far':true,
                            'fa-trash-alt':!upgrade_array[property_index].from[i].to[j].edit && !upgrade_array[property_index].from[i].to[j].new && !upgrade_array[property_index].from[i].new && upgrade_array[property_index].from[i].to.length>1,
                            'fa-times-circle':(upgrade_array[property_index].from[i].to[j].new && !upgrade_array[property_index].from[i].new) || upgrade_array[property_index].from[i].to[j].edit}">
              </i>
            </td>
            <td class=""><div class="toggle_small"><app-toggle [(checked)]="to.enabled"></app-toggle></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
