.switch {
  position: relative;
  display: inline-block;
}
.dimensions{
  width: 43px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 90%/*20px*/;
  width: 47%/*20px*/;
  left: 2.5%/*1px*/;
  bottom: 5%/*1px*/;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5e9dbc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%/*21px*/);
  -ms-transform: translateX(100%/*21px*/);
  transform: translateX(100%/*21px*/);
}

/* Rounded sliders */
.slider.round {
  border-radius:
    26% / 46%/*10px*/;
}

.slider.round:before {
  border-radius: 60%;
}
