.background{
 opacity:0.8;
 background-color:#ccc;
 width:100%;
 height:100%;
 position:fixed;
 z-index: 1;
}
.user_menu{
  position:fixed;
  z-index: 5;
  background-color: #ffffff;
  font-size:23px;
  line-height: 60px;
  margin-top:6px;
  padding:2px;
  user-select: none;
  cursor: pointer;
}

@media (min-width:576px) {
  .right_margin{
    right: 120px;
  }
}
@media (max-width:575px) {
  .right_margin{
    right: 6px;
  }
}

.image_margin{
   width:17%;
   height:17%;
   margin-right: 15px;
}

.user_menu div{
  padding-left:25px;
  padding-right:20px;
  color: #031a41;
}

.user_menu div:hover{
  padding-left:25px;
  padding-right:20px;
  background-color: #5e9dbc;
  color: white;
}

.user_icon{
  font-size: 30px;
  margin-right: 19px;
  margin-top: 0px;
}
