.background{
  /*background-color: #dddddd;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 1px,
    #465298 10px,
    #465298 2px
  );
    background:repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),*/
  background: url(/assets/bckgr3.png);
  background-repeat: repeat;
}
.tab_container{
  margin: 0px 0px;
  padding: 38px 22px 22px 68px;/*top right bottom left*/
  background-color: white;
  /*
  border: 1px solid #cfcfcf;*/
  border-radius: 6px;
}
.panel{
  background-color: #ffffff;
  color: #7c7c7c;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  width:290px;
  margin: 15px 15px;
}
.panel-header{
  background-color: #9c9c9c;
  color: #ffffff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height:38px;
  line-height:38px;
  padding-left:15px;
  margin-bottom: 10px;
}
.multi_choice{
  border: 1px solid #cfcfcf;
  border-right: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  width:270px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.row0_table_container{
  margin: 0px 15px 15px 0px;/*top right bottom left*/
}
.row0_table{
  border-collapse: separate; /* allow spacing between cell borders */
  border-spacing: 30px 30px; /* NOTE: syntax is <horizontal value> <vertical value> */
}
.row0_table td/*:nth-child(1)*/{
  color: #9c9c9c;
  font-size: 30px;
}
.tab_row{
  margin: 10px 0px 20px 30px;/*top right bottom left*/
}
.lable{
  color: #7c7c7c;
  font-size: 18px;
  text-decoration: underline;
}
.toggle{
  margin: 6px 30px 0px 10px;;
}
.tab_row_text{
  color: #9c9c9c;
  font-size: 31px;
  line-height: 1.1;
  padding-left: 10px;
}
.tab_row_text_inactive{
  color: #cccccc;
  font-size: 31px;
  line-height: 1.1;
  padding-left: 10px;
}
.days_left_text{
  color: #9c9c9c;
  font-size: 31px;
  line-height: 1.1;

}
.days_left_text_inactive{
  color: #cccccc;
  font-size: 31px;
  line-height: 1.1;

}
.days_left_field{
  width: 63px;
  height: 35px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  margin-right: 17px;
  margin-left: 80px;
}
#alpha_input,#beta_input{display:none;}
.checkmark{margin-bottom:0px;}
.checkmark:after {
  content: "";
  display: inline-block;
  /*background: url("./assets/radio_button_unchecked.svg") no-repeat;*/
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><circle cx='16' cy='16' r='16' stroke='#cfcfcf' stroke-width='1' fill='white' /></svg>");
  width: 32px;
  height: 32px;
  margin: 0px 15px 0px 15px;
}
#alpha_input:checked ~ .checkmark:after,#beta_input:checked ~ .checkmark:after{
  display: inline-block;
  /*background: url("./assets/radio_button_checked.svg") no-repeat;*/
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><circle cx='16' cy='16' r='16' stroke='#cfcfcf' stroke-width='1' fill='white'/><circle cx='16' cy='16' r='11' fill='#cfcfcf'/></svg>");
  width: 32px;
  height: 32px;
  margin: 0px 15px 0px 15px;
}
.invitation_email_table{
  background-color: #e8ecf3;
}
.invitation_email_radio_label{
  font-size: 26px;
  color: #c1c1c1;
}
@media only screen and (min-width: 1107px) {
  .tabs{
    display: flex;
    margin-top: 27px;
  }
  .horiz_tabs{
    display: none;
  }
  .active1{
    background-color: white;
    font-size: 28px;
    color: #9c9c9c;
    padding-top: 25px;
    padding-bottom: 25px;
    background-clip: padding-box;
    border-left: 13px solid #33a948;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  .non_active1{
    background-color: #e8ecf3;
    font-size: 24px;
    color: #c1c1c1;
    cursor: pointer;
    background-clip: padding-box;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 13px solid transparent;
    border-bottom: 2px solid transparent;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
}
@media only screen and (max-width: 1106px) {
  .tabs{
    display:none;
  }
  .horiz_tabs{
    margin-left: 25px;
  }
  .horiz_active1{
    background-color: white;
    font-size: 18px;
    color: #9c9c9c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  .horiz_non_active1{
    background-color: #e8ecf3;
    font-size: 18px;
    color: #c1c1c1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
}
.horiz_container{
  margin: 0px 0px 50px 0px;/*top right bottom left*/
}
.reminder_margin{
  margin-right: 65px;
}
:host ::ng-deep .days_left_text .restricted-text-input_style,
:host ::ng-deep .days_left_text_inactive .restricted-text-input_style{
  width: 63px;
  height: 35px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  /*margin-left: 80px;*/
  color: #9c9c9c;
  font-size: 30px;
}
:host ::ng-deep .selection_fee_field .restricted-text-input_style{
  width: 90px;
  height: 46px;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  color: #9c9c9c;
  font-size: 30px;
}

@media only screen and (max-width: 935px){
  .triangle105x32{
    display: none;
  }
  .invitation_email_days_bgr{
  }
  .invitation_email_days_left_margin{
    padding: 15px 50px 0px 95px;/*top right bottom left*/
  }
  .reminder_email_days_left_margin{
    padding: 5px 50px 0px 95px;/*top right bottom left*/
  }
}
@media only screen and (min-width: 936px){
  .triangle105x32{
    display: inline-block;
    /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='105' width='32'><polygon points='0,0 0,105 32,53' stroke-width='0' fill='#e8ecf3'/></svg>");*/
    /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='105' width='35'><defs><filter id='f3'><feDropShadow dx='0' dy='0' stdDeviation='3'/></filter></defs><polygon points='0,0 0,105 32,53' stroke-width='0' fill='#e8ecf3' filter='url(#f3)'/></svg>");
    */background-image: url("/assets/triangle105x32.svg");
    width: 35px;
    height: 105px;
    margin: 0px 0px 0px 0px;
  }
  .invitation_email_days_bgr{
    background-color: #ececec;
    height: 105px;
    margin-right: 20px;
  }
  .invitation_email_days_left_margin{
    padding: 0px 32px 0px 45px;/*top right bottom left*/
  }
  .reminder_email_days_left_margin{
    padding: 0px 32px 0px 80px;/*top right bottom left*/
  }
}
.send_button{
  border: 1px solid #e0e0e0;
  color: white;
  background-color: #609dba;
  border-radius: 6px;
  font-size: 30px;
  width: 123px;
  height: 51px;
  line-height: 1;
  padding-bottom: 4px;
  margin-top:25px;
}

.property-panel{
  background-color: #ffffff;
  color: #7c7c7c;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 500;
  width:229px;
  padding-left: 8px;
  margin: 0 auto;
  margin: 15px auto 15px;
}

.property-select{
   /*margin-top: 5px;
   padding-top: 4px;*/
   width: 117px;
   height: 37px;
   text-align: left;
   font-size: 21px;
   /*font-weight: 600;*/
   padding-left: 8px;
   /* Firefox */
   -moz-appearance: none;
   /* Safari and Chrome */
   -webkit-appearance: none;
   appearance: none;
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='37px' width='35px'><line x1='0' y1='0' x2='0' y2='37' style='stroke:rgb(255,255,255);stroke-width:2' /><text x='11' y='25' fill='white' font-size='14'>ï¹€</text></svg>");
   /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='37px' width='35px'><!--text x='11' y='25' fill='black' font-size='14'>&#xFE40;</text--><line x1='0' y1='0' x2='0' y2='37' style='stroke:rgb(255,255,255);stroke-width:2' /><rect width='35' height='37' style='fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)' /></svg>");
   */
   background-position: right top;
   background-repeat: no-repeat;
   background-color: #609dba;
   border-radius: 4px;
   color: white;
   margin: 5px 5px;
}

.property-select>option{
   text-align: left;
   font-size: 18px;
   background-color: #609dba;
   /*background-color: green;*/
   color: white;
   /*margin: 5px 5px;*/
}
.property{
  background-color: white;
  color: #7c7c7c;
  border-radius: 8px;
  font-size: 26px;
  font-weight: 500;
  width:264px;
  padding-left: 8px;
  margin: 32px 0px 67px 0px;/*top right bottom left*/
}
.property_label{
  line-height: 1;
  padding-bottom: 5px;
}
