/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: century_gothic;
    src: url(font/CenturyGothic.ttf);
}

body{
  font-family: century_gothic, Arial, serif;
}
